@import "../../utils/styles/colors";
@import "../../utils/styles/media";

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryRed;
    height: 25px;
    border-radius: 10px;
    color: white;
    font-size: 14px;

    @media (max-width: $mobileMaxWidth) {
        height: 18px;
        font-size: 10px;
    }
}
