@import "../../utils/styles/media";

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
    margin: 50px 100px;

    @media (max-width: $mobileMaxWidth) {
        margin: 27px 20px;
        gap: 22px;
    }
}
