@import "./utils/styles/colors";

:root {
    font-family: "Monserrat", "Trebuchet MS";
    color: black;
}

a {
    color: black;
}
a:visited {
    text-decoration: none;
}

body {
    margin: 0;
    #root {
        height: 100%;
    }
}
